{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "index" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">New account request</h3>
            {{ form_start(form) }}
            {{ form_row(form.overdraftAuthorized) }}
            {{ form_row(form.file, {'label': 'Please send us your ID Card.'}) }}
            <button type="submit" class="btn btn-common log-btn mt-3">Send</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/inputFileName') }}
{% endblock %}
