{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "index" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">{{ account.label }}</h3>
            <h6>Informations</h6>
            <ul class="list-group">
                <li class="list-group-item">Account number: {{ account.accountNumber }}</li>
                <li class="list-group-item">IBAN: {{ account.iban }}</li>
                <li class="list-group-item">Balance: {{ account.balance }} €</li>
                <li class="list-group-item">{{ account.overdraftAuthorized ? "Overdraft authorized" : "Overdraft not authorized"}}</li>
                {% if account.overdraftAuthorized %}
                    <li class="list-group-item">{{ account.overdraft }}</li>
                {% endif %}
                <li class="list-group-item">{{ account.transfers | length }} transfers</li>
                <li class="list-group-item">Created at {{ account.createdAt | date }}</li>
                <li class="list-group-item">Last activity at {{ account.updatedAt | date }}</li>
            </ul>
            <div class="row justify-content-between">
                <a href="{{ path('portal') }}" class="btn btn-dark m-3">Back</a>
                <a href="{{path('portal_remove_account_request', {id: account.id})}}" class="btn btn-danger m-3">Close account</a>
            </div>

        </div>
    </div>
{% endblock %}
