{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "settings" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Settings</h3>
            {{ form_start(form) }}
            {{ form_row(form.twoFactorAuthentification) }}
            <div class="page-login-form box text-center" id="g-auth-presentation" style="display: none;">
                <div class="d-block">
                    <img src="{{ asset('img/2fa-logo.png') }}" alt="2FA Logo" class="img-fluid twofa-logo">
                </div>
                <h3>Google Authenticator</h3>
                <h6 class="text-dark">How to use it ?</h6>
                <ul class="list-group">
                    <li class="list-group-item">Download <g class="font-weight-bold">Google Authenticator</g> on
                        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">PlayStore</a>
                        or the <a href="https://apps.apple.com/fr/app/google-authenticator/id388497605">AppStore</a></li>
                    <li class="list-group-item">Scan the QR Code</li>
                    <li class="list-group-item">Enter the code shown on your phone in the placeholder.</li>
                    <li class="list-group-item">Enjoy!</li>
                    <li class="list-group-item list-group-item-dark">Careful, the 2 factor authentication is available on only one smartphone.</li>
                </ul>
            </div>
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.email) }}
            {{ form_row(form.gender) }}
                <button type="submit" class="btn btn-common log-btn mt-3">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/settings') }}
{% endblock %}
