{% extends 'base.html.twig' %}
{% set page = "login" %}
{% block title %}Connexion{% endblock %}

{% block body %}
    <section id="content" class="section-padding mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="page-login-form box">
                        <h3>Log in</h3>
                        <form id="formLogin" class="login-form" role="form" method="post">
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="far fa-paper-plane"></i>
                                    <input id="inputEmail" type="text" class="form-control" value="{{ last_username }}" placeholder="Login" name="uniqueLogin"  required autofocus/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-icon">
                                    <i class="fas fa-eye-slash"></i>
                                    <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" required>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit" class="btn btn-common log-btn mt-3">Login</button>
                            <p class="text-center">Don't have an account?<a href="{{ path('app_register') }}"> Register</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/login') }}
{% endblock %}
