{% extends 'base.html.twig' %}
{% set page = "two-factor" %}
{% block title %}2 Factor Authentication{% endblock %}
{% block body %}
    <section id="content" class="section-padding mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="page-login-form box text-center">
                        <div class="d-block">
                            <img src="{{ asset('img/2fa-logo.png') }}" alt="2FA Logo" class="img-fluid twofa-logo">
                        </div>
                        <h3>Google Authenticator</h3>
                        <h6 class="text-dark">How to use it ?</h6>
                        <ul class="list-group">
                            <li class="list-group-item">Download <g class="font-weight-bold">Google Authenticator</g> on
                                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en">PlayStore</a>
                                or the <a href="https://apps.apple.com/fr/app/google-authenticator/id388497605">AppStore</a></li>
                            <li class="list-group-item">Scan the QR Code</li>
                            <li class="list-group-item">Enter the code shown on your phone in the placeholder.</li>
                            <li class="list-group-item">Enjoy!</li>
                            <li class="list-group-item list-group-item-dark">Careful, the 2 factor authentication is available on only one smartphone.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="page-login-form box two-factor-form">
                        <h3>Two Factor Authentication</h3>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed"
                                           data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#issues">
                                            Any issue with Two-factor authentication ?
                                        </a>
                                    </h4>
                                </div>
                                <div id="issues" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            If you have somme issues with the two-factor authentication, you can reset it
                                            with your email address <a href="{{ path('reset_two_factor') }}">here.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {{ svg | raw}}
                        {{ form_start(form) }}
                            {{ form_row(form.code) }}
                            <button class="btn btn-common btn-block">Authenticate</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
