{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "index" %}
{% block content %}
    <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="inner-box my-resume" id="card-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 row">
                        <div class="col-md-7">
                            <h3 class="alerts-title">My accounts</h3>
                        </div>
                        <div class="col-md-5">
                            <a href="{{ path('portal_new_account_request') }}" class="btn btn-common">Open a new account</a>
                        </div>
                    </div>
                    {% for account in accounts %}
                        <div class="col-md-6 col-xs-12">
                            <div class="card-box-content">
                                <div class="content">
                                    <h3><a href="{{ path('account_details', {id: account.id}) }}">{{ account.label }}</a></h3>
                                    <div class="tags">
                                        <p>Account number: {{ account.accountNumber }}</p>
                                        <span>IBAN: {{ account.iban }}</span>

                                    </div>
                                    <a href="{{ path('account_details', {id: account.id}) }}" class="more-money">{{ account.balance }} €</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if accountRequests | length > 0 %}
                        <div class="col-md-12 col-xs-12">
                            <hr size="2" color="gray">
                            <h4>Account Requests</h4>
                        </div>
                        {% for request in accountRequests %}
                            <div class="col-md-12 col-xs-12">
                                <div class="card-box-content {{ request.status == 0 ? "in-progress" }}{{ request.status == 1 ? "rejected" }}{{ request.status == 2 ? "accepted" }}">
                                    <div class="content row justify-content-between">
                                        <div class="col-md-6">
                                            {% if request.type == 1 %}
                                                <h3>New account request</h3>
                                            {% else %}
                                                <h3>Close account request</h3>
                                            {% endif%}
                                            <div class="tags">
                                                <span>Created at: {{ request.createdAt | date }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            {% if request.status == 0 %}
                                                <span>In progress</span>
                                            {% elseif request.status == 1 %}
                                                <span>Rejected</span>
                                            {% else %}
                                                <span>Accepted</span>
                                            {% endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
