{% extends 'base.html.twig' %}
{% set page = "portal" %}
{% block body %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>{{ app.user.surname }} {{ app.user.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="right-sideabr">
                        <h4>My Portal</h4>
                        <ul class="list-item">
                            <li><a {{ portalPage == "index" ? 'class="active"' }} href="{{ path('portal') }}">My accounts</a></li>
                            <li><a {{ portalPage == "recipients" ? 'class="active"' }} href="{{ path('portal_recipients') }}">My recipients</a></li>
                            <li><a {{ portalPage == "transfers" ? 'class="active"' }} href="{{ path('portal_transfer') }}">Transfers</a></li>
                            <li><a {{ portalPage == "send-money" ? 'class="active"' }} href="{{ path('portal_create_transfer') }}">Send money</a></li>
                            <li><a {{ portalPage == "settings" ? 'class="active"' }} href="{{ path('portal_settings') }}">Settings</a></li>
                        </ul>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
