<h1>Hi! Here's your ID, please confirm your email!</h1>

<p>
    Your Login ID is {{ uniqueLogin|raw }}, be sure to keep it, it will be used everytime you login!<br><br>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will expire in {{ expiresAt|date('g') }} hour(s).
</p>

<p>
    Cheers!
</p>
