{% extends 'base.html.twig' %}
{% set page = "register" %}
{% block title %}Register{% endblock %}

{% block body %}
    <section id="content" class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="page-login-form box">
                        {% for flashError in ('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        <h3>
                            Create Your account
                        </h3>
                        {{ form_start(registrationForm, {'attr': {'class':'login-form', 'id':'formRegister'}}) }}
                            <div class="form-group">
                                {{ form_errors(registrationForm.email) }}
                                <div class="input-icon">
                                    <i class="far fa-paper-plane"></i>
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_errors(registrationForm.name) }}
                                <div class="input-icon">
                                    <i class="fas fa-user"></i>
                                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_errors(registrationForm.surname) }}
                                <div class="input-icon">
                                    <i class="fas fa-user"></i>
                                    {{ form_widget(registrationForm.surname, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_errors(registrationForm.birthDate) }}
                                <div class="input-icon">
                                    <i class="far fa-clock"></i>
                                    {{ form_widget(registrationForm.birthDate, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_errors(registrationForm.gender) }}
                                <div class="input-icon">
                                    <i class="fas fa-user"></i>
                                    {{ form_widget(registrationForm.gender, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_errors(registrationForm.phoneNumber) }}
                                <div class="input-icon">
                                    <i class="fas fa-comment"></i>
                                    {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {{ form_row(registrationForm.twoFactorAuthentification) }}
                            <div class="form-group">
                                {{ form_errors(registrationForm.plainPassword) }}
                                <div class="input-icon">
                                    <i class="passwordicon fas fa-eye-slash"></i>
                                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_help(registrationForm.plainPassword) }}
                                </div>
                            </div>
                            {{ form_row(registrationForm.agreeTerms) }}
                            <button type="submit" class="btn btn-common log-btn mt-3">Register</button>
                            <p class="text-center">Already have an account?<a href="{{ path('app_login') }}">Sign In</a></p>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/register') }}
{% endblock %}
