{% extends 'base.html.twig' %}
{% set page = "home" %}
{% block body %}
    <div id="convinced" class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-wrapper">
                        <div>
                            <h3>Your email have been verified!</h3>
                            {% if app.user %}
                                <p>You can now access to your portal <a class="btn btn-common btn-sm" href="{{ path('portal') }}">here!</a> </p>
                                <p>To increase your account's security, you can activate the Two-Factor Authentication
                                in your <a href="{{ path('portal_settings') }}">personal settings</a>.</p>
                            {% else %}
                                <p>You can now sign in <a class="btn btn-common">here!</a> </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="img-thumb">
                        <img class="img-fluid" src="{{ asset('img/search.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

