{% extends 'base.html.twig' %}
{% set page = "faq" %}
{% block body %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header">
                    <h3>Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="faq" class="section pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        How can I sign up ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse
                                    collapse in">
                                <div class="panel-body">
                                    <p>
                                        You only have to fill the registration form <a href="{{ path('app_register') }}">here</a>
                                        and verify your email address. Be careful, the validation link expires in 3hours.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseTwo">
                                        How can I log in ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse
                                    collapse">
                                <div class="panel-body">
                                    <p>
                                        You can sign in <a href="{{ path('app_login') }}">here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseThree">
                                        I have an issue with the 2 factor authentication, what can I do ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse
                                    collapse">
                                <div class="panel-body">
                                    <p>
                                        You can reset the 2 factor authentication <a href="{{ path('reset_two_factor') }}">here.</a>
                                        But you need your email to disable it.
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        How can I sign up ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse
                                    collapse in">
                                <div class="panel-body">
                                    <p>
                                        You only have to fill the registration form <a href="{{ path('app_register') }}">here</a>
                                        and verify your email address. Be careful, the validation link expires in 3hours.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseTwo">
                                        How can I log in ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse
                                    collapse">
                                <div class="panel-body">
                                    <p>
                                        You can sign in <a href="{{ path('app_login') }}">here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseThree">
                                        I have an issue with the 2 factor authentication, what can I do ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse
                                    collapse">
                                <div class="panel-body">
                                    <p>
                                        You can reset the 2 factor authentication <a href="{{ path('reset_two_factor') }}">here.</a>
                                        But you need your email to disable it.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
