{% extends 'base.html.twig' %}
{% set page = "home" %}
{% block body %}
    <header id="home" class="hero-area">
        <div class="container">
            {% if app.user and not app.user.verified %}
                <div class="row space-100 m-5">
                    <div class="alert alert-primary w-100">
                        Thanks for your inscription. Please check your mail address to
                        verify your account. If you didn't received, <a href="{{ path('reset_verify_mail') }}">you can ask to resend it</a>.
                    </div>
                </div>
            {% endif %}
            <div class="row space-100">
                <div class="col-lg-7 col-md-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title">Welcome to BankNGo<br> the bank that takes care about you</h2>
                        <p>Preserve your money, trust us, trust you.
                            Present on all continents, Bankngo is renowned for its high-level expertise in supporting its clients.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-xs-12">
                    <div class="intro-img">
                        <img src="{{ asset('img/intro.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="category section bg-gray">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">How to open a bank account easily ?</h2>
                <p>3 simple steps !</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12 tutorial-card">
                    <a href="{{ path('app_register') }}">
                        <div class="icon bg-color-1">
                            <i class="fas fa-tachometer-alt"></i>
                        </div>
                        <h3>Simple form</h3>
                        <p>Quick and easy, completing your information is child's play!</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 tutorial-card">
                    <a href="{{ path('app_register') }}">
                        <div class="icon bg-color-2">
                            <i class="fas fa-passport"></i>
                        </div>
                        <h3>Sending parts supporting documents</h3>
                        <p>Nothing's easier ! A photo from your smartphone, to download whenever you want!</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12 tutorial-card">
                    <a href="{{ path('app_register') }}">
                        <div class="icon bg-color-3">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>
                        <h3>Account opening</h3>
                        <p>Once your account is opened, you will receive your <i class="fab fa-cc-visa"></i> card at home.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div id="convinced" class="section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-wrapper">
                        <div>
                            <h3>Convinced? So let's go !</h3>
                            <p>With BankNGo, you're sure that your data is secured.</p>
                            <a class="btn btn-common" href="{{ path('app_register') }}">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="img-thumb">
                        <img class="img-fluid" src="{{ asset('img/search.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
