{% extends 'management/management.base.html.twig' %}
{% set managementPage = "newAccount" %}
{% block content %}
    <div class="col-lg-8 col-md-6 col-xs-12">
        <div class="card-item bookmarked">
            <h3 class="alerts-title">Account requests</h3>
            {% for request in requests %}
                <a class="requests-list" href="{{path('management_account_requests_details', {id: request.id})}}">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="request-details">
                                <h3>{{ request.userTransmitter.surname}} {{ request.userTransmitter.name }}</h3>
                                <p>Request {{ request.type == 1 ? "new account" : "close account" }} </p>
                                <span class="company-neme">Created at: {{ request.createdAt|date }}</span>

                            </div>
                        </div>

                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
