{% extends 'management/management.base.html.twig' %}
{% set managementPage = "newAccount" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Request at: {{ request.userTransmitter.name }} {{ request.userTransmitter.surname }}</h3>
            <ul class="list-group">
                <li class="list-group-item">Created at {{ request.userTransmitter.createdAt | date }}</li>
                <li class="list-group-item">Update at {{ request.userTransmitter.updatedAt | date }}</li>
                <li class="list-group-item">Number of accounts : {{ request.userTransmitter.bankAccounts | length }}</li>
            </ul>
            <div class="p-1">
                {% if request.type == 1 %}
                    <h6 class="text-success">New account request</h6>
                    <ul class="list-group">
                        <li class="list-group-item">Score : <span class="badge badge-success">{{ request.score }}</span></li>
                        <li class="list-group-item">
                            <label for="ocrtext">OCR Text</label>
                            <textarea id="ocrtext" readonly class="form-control">{{ request.ocrText }}</textarea>
                        </li>
                        <li class="list-group-item">
                            <label for="findwords">OCR Find words</label>
                            <textarea id="findwords" readonly class="form-control">{{ request.ocrFindWords }}</textarea>
                        </li>
                        <li class="list-group-item">Overdraft: {{ request.overdraftAuthorized ? "Yes" : "No" }}</li>
                        <li class="list-group-item"><a data-fancybox data-type="iframe" data-src="{{ url('management_account_requests_details_file', {id: request.id}) }}" href="javascript:;">File: {{ request.filename }}</a></li>
                    </ul>
                {% else %}
                    <h6 class="text-danger">Closure account request</h6>
                    <ul class="list-group">
                        <li class="list-group-item">Accounts: <a href="{{ path('account_details', {id: request.closedBankAccount.id}) }}" >{{ request.closedBankAccount.iban }}</a></li>
                        <li class="list-group-item">
                            <a data-fancybox data-type="iframe" data-src="{{ url('management_account_requests_details_file', {id: request.id}) }}" href="javascript:;">
                                File: {{ request.filename }}
                            </a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="row justify-content-between">
                <a href="{{ path('management_account_requests') }}" class="btn btn-dark m-3">Back</a>
                <div>
                    <form action="{{path('banker_account_validation_action', {id: request.id})}}" method="POST">
                        <input type="hidden" name="_token" value={{ csrf_token('validate' ~ request.id) }}>
                        <input type="hidden" name="type" value={{ request.type }}>
                        <button class="button btn btn-danger" type="submit" name="validate" value="1">Refuse</button>
                        <button class="button btn btn-common" type="submit" name="validate" value="2">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/openFile') }}
{% endblock %}






