{% extends 'management/management.base.html.twig' %}
{% set managementPage = "index" %}
{% block content %}
    <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="inner-box my-resume" id="card-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3><a href="{{ path('management_account_requests') }}">Requests Account received</a></h3>
                                <a href="{{ path('management_account_requests') }}" class="more-money">{{ notifAccountsRequest }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3><a href="{{ path('management_recipient_requests') }}">Requests Recipient received</a></h3>
                                <a href="{{ path('management_recipient_requests') }}" class="more-money">{{ notifRecipientRequest }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3><a href="{{ path('management_account') }}">Accounts</a></h3>
                                <a href="{{ path('management_account') }}" class="more-money">{{ notifAccounts }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
