{% extends 'base.html.twig' %}
{% set page = "management" %}
{% block body %}
    <div class="section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Management</h4>
                        <ul class="list-item">
                            <li><a {{ managementPage == "index" ? 'class="active"' }} href="{{ path('management') }}">Dashboard</a></li>
                            <li><a {{ managementPage == "accounts" ? 'class="active"' }} href="{{ path('management_account') }}">Accounts</a></li>
                            <li><a {{ managementPage == "newAccount" ? 'class="active"' }} href="{{ path('management_account_requests') }}">Account requests</a></li>
                            <li><a {{ managementPage == "newRecipient" ? 'class="active"' }} href="{{ path('management_recipient_requests') }}">Recipient requests</a></li>
                            <li><a {{ managementPage == "settings" ? 'class="active"' }} href="{{ path('management_settings') }}">Settings</a></li>
                        </ul>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
