{% extends 'admin/admin.base.html.twig' %}
{% set adminPage = "users" %}
{% block content %}
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Edit {{ user.email }}'s account</h3>
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.uniqueLogin) }}
            {{ form_row(form.name) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.birthDate) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.role) }}
            {{ form_row(form.active) }}
            {{ form_row(form.isVerified) }}
            <ul class="list-group">
                <li class="list-group-item">Created at {{ user.createdAt | date }}</li>
                <li class="list-group-item">Last login at {{ user.updatedAt | date }}</li>
                {% if user.twoFactorAuthentification %}
                    <li class="list-group-item">Google Secret {{ user.googleAuthenticatorSecret }}</li>
                {% endif %}
                <li class="list-group-item">
                    {{ form_widget(form.resetTwoFactorAuthentication) }}
                </li>
            </ul>
            <button type="submit" class="btn btn-common log-btn mt-3">Update</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
