{% extends 'admin/admin.base.html.twig' %}
{% set adminPage = "users" %}
{% block content %}
<div class="col-lg-10 col-md-12 col-xs-12">
    <div class="card-item">
        <h3 class="alerts-title">Manage users</h3>
        <table class="table" id="datatable">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Login</th>
                <th scope="col">2FA Auth</th>
                <th scope="col">Creation date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.email }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.uniqueLogin }}</td>
                    <td>{{ user.twoFactorAuthentification ? "Active" : "Disabled" }}</td>
                    <td>{{ user.createdAt | date('y/m/d') }}</td>
                    <td><a href="{{ path('admin_user_edit', {id: user.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datatable') }}
{% endblock %}
