{% extends 'base.html.twig' %}
{% set page = "admin" %}
{% block body %}
    <div class="section mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-xs-12">
                    <div class="right-sideabr">
                        <h4>Administration</h4>
                        <ul class="list-item">
                            <li><a {{ adminPage == "index" ? 'class="active"' }} href="{{ path('admin') }}">Dashboard</a></li>
                            <li><a {{ adminPage == "users" ? 'class="active"' }} href="{{ path('admin_users') }}">Users</a></li>
                            <li><a {{ adminPage == "logs" ? 'class="active"' }} href="#">Logs</a></li>
                        </ul>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
