{% extends 'admin/admin.base.html.twig' %}
{% set adminPage = "index" %}
{% block content %}
    <div class="col-lg-10 col-md-8 col-xs-12">
        <div class="inner-box my-resume" id="card-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3>Users verified</h3>
                                <span class="more-money">{{ verifiedUsers }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3>Users not verified</h3>
                                <span class="more-money">{{ notVerifiedUsers }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3>Bankers</h3>
                                <span class="more-money">{{ bankers }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content">
                                <h3>Users with Two-factor authentication</h3>
                                <span class="more-money">{{ bankers }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
