@import "~bootstrap";
@import "https://fonts.googleapis.com/css?family=Rubik:400,500,700";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";
@import "~slicknav/dist/slicknav.css";

body {
    font-family: rubik, sans-serif;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
p {
    font-size: 14px;
    color: #9a9a9a;
    line-height: 26px;
    font-family: rubik, sans-serif;
    margin-bottom: 0;
}
a:hover,
a:focus {
    color: #26ae61;
}
a {
    color: #26ae61;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: rubik, sans-serif;
    font-weight: 700;
    color: #191c1e;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
a:not([href]):not([tabindex]) {
    color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #fff;
}

.bg-dark-gray{
    background-color: #444444;
}

.bg-gray {
    background: #f9fcff;
}
.bg-cyan {
    background: #f2f7fb;
}
.section {
    padding: 60px 0;
}
.section-header {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}
.section-header .section-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: rubik, sans-serif;
    font-weight: 700;
    color: #333;
    position: relative;
}
.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
}
.btn-common {
    background: #26ae61;
    position: relative;
    z-index: 1;
}
.btn-common:hover {
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.btn-common::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    opacity: 0;
    transform: scale(0, 0);
    z-index: -1;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.btn-common:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    transform: scale(1, 1);
}
.btn-border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border-color: #26ae61;
    color: #26ae61;
}
.btn-border:hover {
    box-shadow: 0 7px 9px rgba(96, 94, 94, 0.17);
}
.btn-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.btn-border:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(0.5, 0.5);
}
.btn-border-filled {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #fff;
    color: #26ae61;
}
.btn-border-filled:hover {
    color: #fff;
    background-color: transparent;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, 0.17);
}
.btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
}
.btn-rm {
    color: #fff;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 14px;
}
.btn-rm i {
    vertical-align: middle;
}
button:focus {
    outline: none !important;
}
.btn-border-fill {
    background: #fff;
    border-color: #fff;
    color: #26ae61;
}
.mt {
    margin-top: 80px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.padding-0 {
    padding: 0;
}
.pb-45 {
    padding-bottom: 45px;
}
.page-header {
    padding: 115px 0 50px;
    position: relative;
}
.page-header .inner-header {
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 0;
}
.page-header .inner-header h3 {
    color: #333;
    font-weight: 700;
    font-size: 30px;
}
.page-header .page-breacrumbs {
    margin-top: 23px;
    display: inline-block;
    float: right;
}
.page-header .breadcrumbs {
    margin: 0;
}
.page-header .breadcrumbs li {
    position: relative;
    padding-left: 30px;
    margin: 0;
    float: left;
}
.page-header .breadcrumbs li a {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #333;
}
.page-header .breadcrumbs > li:before {
    position: absolute;
    left: 9px;
    top: 11px;
    width: 11px;
    height: 1px;
    background: #888;
    content: "";
}
.page-header .breadcrumbs li:first-child:before {
    display: none;
}
.page-header .breadcrumb-wrapper .product-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    color: #333;
}
.page-header .breadcrumb-wrapper .img-wrapper {
    float: left;
    position: relative;
    width: 70px;
    text-align: center;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 0 7px rgba(203, 203, 203, 0.23);
}
.page-header .breadcrumb-wrapper .content {
    padding-left: 110px;
}
.page-header .breadcrumb-wrapper .content .brand {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}
.page-header .breadcrumb-wrapper .content .tags {
    margin-bottom: 10px;
}
.page-header .breadcrumb-wrapper .content .tags span {
    margin-right: 10px;
}
.page-header .breadcrumb-wrapper .content .tags span i {
    margin-right: 5px;
    color: #26ae61;
}
.page-header .month-price {
    background: #26ae61;
    padding: 12px 30px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}
.page-header .month-price span {
    font-size: 20px;
}
.page-header .month-price .price {
    font-size: 26px;
}
.navbar-brand {
    position: relative;
    padding: 7px 0;
}
.theme-header {
    width: 100%;
}
.theme-header .navbar-header {
    float: left;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    color: #9a9a9a;
    padding: 0 17px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    line-height: 37px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: 0 0;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
    color: #26ae61;
    outline: none;
}
.navbar {
    padding: 0;
}
.navbar li.active a.nav-link {
    color: #26ae61;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    margin: 0;
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 190px;
    border: none;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}
.dropdown-menu:before {
    position: absolute;
    top: -8px;
    left: 22px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 8px;
    border-color: transparent transparent #fff;
    box-sizing: border-box;
}
.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
    background: #fff;
}
.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 14px;
    color: #9a9a9a;
    text-decoration: none;
    display: inline-block;
    float: left;
    letter-spacing: 0.5px;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    background: #26ae61;
    color: #fff !important;
}
.dropdown-item.active,
.dropdown-item:active {
    background: 0 0;
}
.button-group .button {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    outline: none !important;
    background: #26ae61;
    color: #fff;
    border: none;
    text-align: center;
    overflow: hidden;
    padding: 9px 21px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    z-index: 1;
    margin-top: 12px;
}
.button-group .button:hover {
    color: #fff !important;
    box-shadow: 0 7px 9px rgba(96, 94, 94, 0.17);
}
.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}
@media (min-width: 768px) and (max-width: 991px) {
    #nav-main li a.nav-link {
        padding-top: 18px;
    }
}
.navbar-toggler {
    display: none;
}
.slicknav_menu {
    display: none;
    background: #fff;
    padding: 0 20px;
    text-align: left;
}
.slicknav_brand {
    float: left;
    line-height: inherit;
    padding: 7px 0;
    height: auto;
}
.slicknav_btn {
    margin: 14px 0;
    background-color: #26ae61;
    padding: 8px 9px 7px;
}
.slicknav_nav {
    background-color: #0e0202;
    overflow: auto;
    max-height: 350px;
    padding: 20px 10px;
}
.slicknav_menu .slicknav_icon-bar {
    background: #fff;
}
.slicknav_nav ul {
    margin: 0;
}
.slicknav_nav a,
.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 10px 0;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.slicknav_parent ul {
    padding-left: 15px;
}
.slicknav_parent ul a {
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 0;
    font-weight: 400;
}
.slicknav_nav a:hover a,
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_item a:hover,
.slicknav_nav .slicknav_parent-link a:hover {
    background-color: transparent;
    color: #26ae61;
}
.slicknav_nav .slicknav_arrow {
    float: right;
}
.slicknav_nav a h3 {
    font-size: 14px;
    display: inline;
    text-transform: capitalize;
    font-weight: 500;
}
.slicknav_menu li p {
    display: none;
}
.sticky-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 99;
    background-color: #fff;
    -webkit-animation: slideInDown;
    animation: slideInDown;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.4);
}
@media (max-width: 991px) {
    .slicknav_menu {
        display: block;
        width: 100%;
    }
    .theme-header {
        display: none;
    }
    .mobile-menu {
        width: 100%;
    }
    .dropdown-menu {
        position: relative;
        background: 0 0;
    }
    .dropdown:hover .dropdown-menu {
        position: relative;
        background: 0 0;
    }
    .dropdown .dropdown-menu .dropdown-item {
        border-radius: 0;
    }
    .dropdown-menu:before {
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        line-height: 22px;
    }
    .top-nav-collapse .navbar-nav .nav-link {
        color: #9a9a9a !important;
    }
}
@media (max-width: 767px) {
    .sticky-menu {
        margin: 0;
    }
}
.hero-area {
    background: #fff;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.hero-area .contents {
    padding: 150px 0 80px;
}
.hero-area .contents h2 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
}
.hero-area .contents p {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 26px;
}
.hero-area .contents .btn {
    margin-top: 40px;
    margin-right: 20px;
    text-transform: uppercase;
}
.hero-area .contents .btn-border {
    border: 2px solid #fff;
    color: #fff;
}
.hero-area .intro-img {
    padding: 120px 0 0;
}
.hero-area .intro-img img {
    display: block;
    height: auto;
    max-width: 100%;
}
#card-box .card-box-content {
    background: #fff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 4px;
    border-left: 4px solid transparent;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#card-box .card-box-content .icon {
    float: left;
    position: relative;
    width: 70px;
    text-align: center;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    box-shadow: 0 0 7px rgba(203, 203, 203, 0.23);
}
#card-box .card-box-content .content {
    padding-left: 90px;
}
#card-box .card-box-content .content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
#card-box .card-box-content .content h3 a {
    color: #333;
}
#card-box .card-box-content .content h3 a:hover {
    color: #26ae61;
}
#card-box .card-box-content .content .brand {
    font-size: 15px;
    margin-bottom: 10px;
    color: #666;
}
#card-box .card-box-content .content .tags {
    margin-bottom: 15px;
}
#card-box .card-box-content .content .tags span {
    margin-right: 10px;
}
#card-box .card-box-content .content .tags span i {
    margin-right: 5px;
    color: #26ae61;
}
#card-box .card-box-content:hover {
    border-color: #26ae61;
}
.tutorial-card {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 1px solid #f1f1f1;
    margin-top: -1px;
    background: #fff;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    display: block;
    margin-right: -1px;
}
.tutorial-card a {
    display: block;
}
.tutorial-card:hover {
    background: #f9fcff;
}
.tutorial-card .icon {
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 15px;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.tutorial-card .icon i {
    font-size: 30px;
    color: #fff;
    line-height: 64px;
}
.tutorial-card h3 {
    font-size: 18px;
    line-height: 32px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #333;
}
.tutorial-card h3:hover {
    color: #26ae61;
}
.tutorial-card p {
    color: #9a9a9a;
}
.tutorial-card:hover .icon {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.bg-color-1 {
    background: #26ae61;
}
.bg-color-2 {
    background: #4dadf5;
}
.bg-color-3 {
    background: #028af1;
}
.bg-color-4 {
    background: #8000ff;
}
.bg-color-5 {
    background: #40e0d0;
}
.bg-color-6 {
    background: #ff8000;
}
.bg-color-7 {
    background: #1d64b4;
}
.bg-color-8 {
    background: #fbc1f0;
}
#convinced .text-wrapper {
    width: 100%;
    display: table;
    height: 100%;
}
#convinced .text-wrapper > div {
    vertical-align: middle;
    display: table-cell;
}
#convinced .text-wrapper h3 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}
#convinced .text-wrapper p {
    margin-bottom: 35px;
}
.requests-list {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.requests-list .request-details h3 {
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.requests-list .request-details h3:hover {
    color: #26ae61;
}
.requests-list .request-details .company-neme {
    font-size: 14px;
    color: #666;
}
.requests-list:hover {
    background: #fff;
    border-color: #fff;
    box-shadow: 11px 0 20px rgba(102, 102, 102, 0.08);
}
.border-color-red {
    border-top: 4px solid #ff6046;
}
.border-color-green {
    border-top: 4px solid #426eff;
}
.head-faq {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 24px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
}
.panel-default {
    border-radius: 0;
    border: none;
}
.panel-default .panel-heading {
    padding: 0 20px;
    outline: none;
    border-radius: 4px;
    background: #26ae61 !important;
    border: 1px solid #26ae61;
    width: 100%;
    box-shadow: none;
}
.panel-default .panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-default .panel-heading a {
    font-size: 14px;
    font-weight: 400;
    padding: 15px 35px 15px 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    position: relative;
    text-decoration: none;
}
.panel-default .panel-heading a:after {
    font-family: lineicons;
    content: "\e93a";
    position: absolute;
    right: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px;
    transform: rotate(180deg);
    transition: all 0.3s linear;
}
.panel-default .panel-heading .collapsed:after {
    transform: rotate(0deg);
}
.panel-default .panel-collapse .panel-body {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #fff;
}
.inner-box {
    padding: 30px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
}
.more-money,
.less-money {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.more-money {
    color: #26ae61;
    background: #d5ffe7;
}
.less-money {
    color: #ff6046;
    background: #ffd8d2;
}
.more-money:hover,
.less-money:hover,
.btn-open:hover {
    box-shadow: 0 3px 9px rgba(96, 94, 94, 0.17);
}
.right-sideabr {
    margin-bottom: 30px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
}
.right-sideabr h4 {
    font-size: 18px;
    color: #333;
    padding: 15px 20px;
    font-weight: 500;
    background: #f2f7fb;
    margin-bottom: 0;
}
.right-sideabr .list-item li {
    padding: 15px 20px;
    border-bottom: 1px solid #f7f7f7;
}
.right-sideabr .list-item li a {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
}
.right-sideabr .list-item li a:hover {
    color: #26ae61;
}
.right-sideabr .list-item li a.active {
    color: #26ae61;
}
.right-sideabr .list-item .notinumber {
    float: right;
    width: 20px;
    height: 20px;
    background: #26ae61;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
.card-item {
    padding: 30px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
}
.card-item .alerts-list {
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
}
.card-item .alerts-title {
    font-size: 26px;
    margin-bottom: 30px;
}
.card-item .alerts-content {
    padding: 30px 0;
    border-bottom: 1px solid #f1f1f1;
}
.card-item .alerts-content h3 {
    font-size: 16px;
}
.card-item .alerts-content .location {
    color: #9a9a9a;
}
.card-item .alerts-content p {
    color: #9a9a9a;
    margin-top: 15px;
    line-height: 20px;
    line-break: inherit;
}
.card-item .alerts-content p i {
    line-height: 26px;
}
.card-item .job-list {
    border: none;
    padding: 15px 0;
}
.bookmarked .requests-list .request-details h3 {
    font-size: 16px;
}
.bookmarked .request-details {
    margin-left: 76px;
}
.custom-file-label:focus {
    box-shadow: none;
}
.custom-file-label::after {
    padding: 7px 25px;
    color: #fff;
    background-color: #26ae61;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.request-details .content-area {
    padding: 15px 20px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
}
.request-details .content-area h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}
.request-details .content-area p {
    margin-bottom: 15px;
}
.request-details .content-area h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
}
.request-details .content-area ul li {
    margin-bottom: 10px;
}
.small-title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.upload-button {
    position: relative;
    margin-bottom: 40px;
}
.upload-button input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
}
.upload-button .btn-sm {
    padding: 5px 20px;
    font-size: 13px;
}
.input-group-addon {
    padding: 0 !important;
}
.styled-select {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 30px;
}
select:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
.btn-default {
    padding: 17px 14px;
    border-radius: 0;
    color: #2d2d2d !important;
    background: #fff;
    text-transform: none;
}
.btn-default:hover {
    background-color: #fff;
    border-color: #fff;
}
label {
    margin: 0;
}
.divider {
    padding: 20px 0 15px;
}
.popover {
    display: none;
}
.contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}
.contents .header-button .btn i {
    margin-left: 10px;
}
.left,
.right {
    cursor: pointer;
    font-size: 30px;
    color: #26ae61;
}
#content {
    padding: 60px 0;
}
.pagination {
    margin: 0;
    width: 100%;
    text-align: center;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    border-radius: 30px !important;
    padding: 5px 10px;
    margin: 0 3px;
    min-width: 40px;
    height: 40px;
    line-height: 30px;
    font-weight: 400;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    background: #26ae61;
    display: block;
    color: #fff;
}
.pagination li a:hover {
    box-shadow: 0 7px 9px rgba(96, 94, 94, 0.17);
}
.pagination li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.pagination li a:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}
.pagination .btn-prev,
.pagination .btn-next {
    padding: 5px 20px !important;
}
.reply-link {
    color: #26ae61;
    border-radius: 0;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.form-control {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #ececec;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.form-control:focus {
    border: 1px solid #26ae61;
    outline: none;
    box-shadow: none;
}
.btn.disabled,
.btn:disabled {
    opacity: 1;
}
textarea {
    border-radius: 4px !important;
    text-align: left !important;
    padding-top: 15px;
    resize: none;
}
.box {
    padding: 30px;
    box-shadow: 0 0 14px rgba(191, 191, 191, 0.24);
}
.page-login-form h3 {
    font-size: 18px;
    color: #333;
    line-height: 18px;
    padding: 15px 0 30px;
    text-transform: uppercase;
    text-align: center;
}
.page-login-form .login-form .form-control {
    padding-left: 62px;
    position: relative;
}
.page-login-form .log-btn {
    width: 100%;
    padding: 12px 22px;
    margin: 0 0 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px;
}
.page-login-form .form-links {
    width: 100%;
    height: 25px;
}
.page-login-form .form-links li a {
    color: #9a9a9a;
}
.page-login-form .form-links li a:hover {
    color: #26ae61;
}
.input-icon {
    position: relative;
}
.input-icon i {
    color: #26ae61;
    padding-right: 10px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    border-right: 1px solid #ececec;
    border-radius: 30px 0 0 30px;
    top: 1px;
    left: 1px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 48px;
    line-height: 45px;
    height: 45px;
    z-index: 99;
}
.box .checkbox label,
.box .radio label {
    padding-left: 34px;
}
input[type="checkbox"] {
    background: #3d404e;
    border: #7f83a2 1px solid;
}
.form-check input[type="checkbox"].form-check-input {
    background: #26ae61;
}
.block-title {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
}
footer .footer-Content {
    background-color: #24324a;
    padding: 60px 0;
    color: #8a99b3;
}
footer .footer-Content p {
    color: #8a99b3;
}
.footer-logo {
    margin-bottom: 0;
}
.textwidget {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}
.textwidget p {
    color: #8a99b3;
    font-size: 14px;
}
footer .menu {
    padding-left: 0;
    float: left;
    width: 50%;
}
footer .menu li {
    list-style: none;
    padding-bottom: 15px;
}
footer .menu li a {
    color: #8a99b3;
    font-size: 14px;
}
footer .menu li a:hover {
    color: #26ae61;
}
footer .menu li .small-title {
    color: #fff;
    font-weight: 500;
}
.more-money {
    font-size: inherit;
    right: 0;
}

.card-box-content {
    .content {
        padding-left: 0!important;
    }
}

.twofa-logo {
      display: block;
      max-width: 90px;
      margin-left: auto;
      margin-right: auto
  }

.two-factor-form {
    svg {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #google_authenticator_code {
        max-width: 30%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

.toast {
    background-color: rgb(255 255 255);
    z-index: 99999;
}

.in-progress
{
    background-color: #fff4cc !important;
    color: #ff9109;

    h3
    {
        color: #ff9109;
    }
}

.in-progress:hover
{
    border-color: #ff9109 !important;
}

.accepted
{
    background-color: #dfffdb !important;
    color: #16c300;

    h3
    {
        color: #16c300;
    }
}

.accepted:hover
{
    border-color: #16c300 !important;
}

.rejected
{
    background-color: #ffe8e8 !important;
    color: #ff0000;

    h3
    {
        color: #ff0000;
    }
}

.rejected:hover
{
    border-color: #ff0000 !important;
}

.panel-default .panel-heading a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
}

.btnRemove
{
    border: 1px solid #dc3545;
    color: #dc3545;
}

.btnRemove:hover
{
    background-color:#dc3545;
    color: white;
}

.btnSend
{
    border: 1px solid #26ae61;
    color: #26ae61;
}

.btnSend:hover
{
    background-color: #26ae61;
    color: white;
}

.alert-dark {
    color: white;
    background: #2d2d2d;
    font-weight: bolder;
}

.fancybox-slide--iframe .fancybox-content {
    background: transparent;
}

.toast {
    position: absolute;
    top: 0;
    right: 0;
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: green;
}

@import "responsive";
