{% extends 'management/management.base.html.twig' %}
{% set managementPage = "newRecipient" %}
{% block content %}
    <div class="col-lg-8 col-md-6 col-xs-12">
        <div class="card-item bookmarked">
            <h3 class="alerts-title">Recipient requests</h3>
            {% for request in requests %}
                <div class="requests-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xs-12">
                            <div class="request-details">
                                <h3>{{ request.userTransmitter.surname}} {{ request.userTransmitter.name }}</h3>
                                <span class="company-neme">Created at: {{ request.createdAt|date }}</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-12 text-right">
                            <div class="request-details">
                                <i class="lni-map-marker"></i>{{ request.name }} {{ request.surname }}
                                <i class="lni-map-marker"></i>{{ request.iban }}
                            </div>
                        </div>
                        <form class="col-md-12" action="{{path('banker_recipient_validation_action', {id: request.id})}}" method="POST">
                            <input type="hidden" name="_token" value={{ csrf_token('validate' ~ request.id) }}>
                            <div class="row">
                                <div class="col-lg-9 col-md-12 col-xs-12 text-right">
                                    <button class="button btn btn-danger" type="submit" name="validate" value="1">refuse</button>
                                </div>
                                <div class="col-lg-2 col-md-12 col-xs-12 text-right">
                                    <button class="button btn btn-common" type="submit" name="validate" value="2">accept</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



