{% extends 'management/management.base.html.twig' %}
{% set managementPage = "settings" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Settings</h3>
            {{ form_start(form) }}
            {{ form_row(form.twoFactorAuthentification) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.email) }}
            {{ form_row(form.gender) }}
            <button type="submit" class="btn btn-common log-btn mt-3">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
