{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "send-money" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Send money</h3>
            {{ form_start(form) }}
                {{ form_row(form.recipient) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.bankAccount) }}
            <button type="submit" class="btn btn-common log-btn mt-3">Send</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
