{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "transfers" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div id="card-box" class="inner-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 row">
                        <div class="col-md-7">
                            <h3 class="alerts-title">My transfers</h3>
                        </div>
                        <div class="col-md-5">
                            <a href="{{ path('portal_create_transfer') }}" class="btn btn-common">Send money</a>
                        </div>
                    </div>
                    {% if transfers | length == 0 %}
                        <div class="alert alert-dark w-100 m-2">You have not done any transfer.</div>
                    {% endif %}
                    {% for transfer in transfers %}
                        <div class="col-md-12 col-xs-12">
                            <div class="card-box-content rejected">
                                <div class="content row justify-content-between">
                                    <div class="col-md-9">
                                        <h3>Transfert to {{ transfer.recipient.name }} {{ transfer.recipient.surname }}</h3>
                                        <span>{{ transfer.recipient.iban }}</span>
                                        <div class="tags">
                                            <span>Created at: {{ transfer.createdAt | date('d/m/y') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <span class="less-money">- {{ transfer.amount }} €</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
