{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "recipients" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">New recipient</h3>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.iban) }}
            <a href="{{ path('portal_recipients') }}" class="btn btn-dark log-btn mt-3">Back</a>
            <button type="submit" class="btn btn-common log-btn mt-3">Send</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
