{% extends 'portal/portal.base.html.twig' %}
{% set portalPage = "recipients" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div id="card-box" class="inner-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 row">
                        <div class="col-md-7">
                            <h3 class="alerts-title">My recipients</h3>
                        </div>
                        <div class="col-md-5">
                            <a href="{{ path('portal_add_recipients') }}" class="btn btn-common">Add a recipient</a>
                        </div>
                    </div>
                {% if recipients | length == 0 %}
                    <div class="alert alert-dark w-100 m-2">You do not have any recipient.</div>
                {% endif %}
                {% for recipient in recipients %}
                    <div class="col-md-6 col-xs-12">
                        <div class="card-box-content">
                            <div class="content row justify-content-between">
                                <div class="col-md-6">
                                    <h3>{{ recipient.name }} {{ recipient.surname }}</h3>
                                    <span>{{ recipient.iban }}</span>
                                </div>
                                <div class="col-md-4">
                                    <span>{{ recipient.createdAt | date('d/m/y') }}</span>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <a href="{{ path('portal_create_transfer') }}" class="btn btnSend m-1">Send</a>
                                <form class="delete-action" action="{{path('portal_remove_recipients', {id: recipient.id})}}" method="POST">
                                    <input type="hidden" name="_token" value={{ csrf_token('validate' ~ recipient.id) }}>
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btnRemove m-1">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if recipientRequests | length > 0 %}
                    <div class="col-md-12 col-xs-12">
                        <hr size="2" color="gray">
                        <h4>Recipient Requests</h4>
                    </div>
                    {% for request in recipientRequests %}
                        <div class="col-md-12 col-xs-12">
                            <div class="card-box-content {{ request.status == 0 ? "in-progress" }}{{ request.status == 1 ? "rejected" }}{{ request.status == 2 ? "accepted" }}">
                                <div class="content row justify-content-between">
                                    <div class="col-md-9">
                                        <h3>New recipient request</h3>
                                        <span>{{ request.name }} {{ request.surname }}</span>
                                        <div class="tags">
                                            <span>Created at: {{ request.createdAt | date }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        {% if request.status == 0 %}
                                            <span>In progress</span>
                                        {% elseif request.status == 1 %}
                                            <span>Rejected</span>
                                        {% else %}
                                            <span>Accepted</span>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
