<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}BankNGo{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('scss/app') }}
        {% endblock %}
        {{ encore_entry_script_tags('js/app') }}
    </head>
    <body class="bg-cyan">
        {% include "nav.html.twig" %}
            <section class="section-padding mt-5">
                <div class="container">
                    <div id="toast-container" aria-live="polite" aria-atomic="true" style="position: relative;">
                        {% for message in app.flashes('fail') %}
                            <div class="toast">
                                <div class="toast-header">
                                    <div class="bg-danger rounded mr-2" style="height: 20px; width: 20px;"></div>
                                    <strong class="mr-auto">An error has occurred.</strong>
                                    <small>Now</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">{{ message }}</div>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <div class="toast">
                                <div class="toast-header">
                                    <div class="bg-success rounded mr-2" style="height: 20px; width: 20px;"></div>
                                    <strong class="mr-auto">Success.</strong>
                                    <small>Now</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">{{ message }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
    </body>
    {% block javascripts %}
    {% endblock %}
</html>
