<footer>
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="widget">
                        <div class="footer-logo">
                            <img src="{{ asset('img/logo-footer.png') }}" alt=""></div>
                        <div class="textwidget">
                            <p>You are in a space 100% secure</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-xs-12">
                    <div class="widget">
                        <h3 class="block-title">Quick links</h3>
                        <ul class="menu">
                            <li><a href="{{ path('app_login') }}">Sign In</a></li>
                            <li><a href="{{ path('app_register') }}">Sign Up</a></li>
                            <li><a href="{{ path('faq') }}">Support / FAQ</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                        <ul class="menu">
                            <li><a href="#">License</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                </div>
            </div>
        </div>
    </section>
</footer>
