<header id="home" class="hero-area">
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar bg-white">
    <div class="container">
        <div class="theme-header clearfix">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#main-navbar"
                        aria-controls="main-navbar"
                        aria-expanded="false" aria-label="Toggle
                                navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                </button>
                <a href="{{ path('home') }}" class="navbar-brand"><img src="{{ asset('img/logo.png') }}" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100
                                justify-content-end">
                    <li class="nav-item dropdown{{ page == "home" ? " active"}} ">
                        <a class="nav-link dropdown-toggle" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown{{ page == "faq" ? " active"}} ">
                        <a class="nav-link dropdown-toggle" href="{{ path('faq') }}">FAQ</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item{{ page == "register" ? " active"}}">
                            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                        </li>
                        <li class="button-group{{ page == "login" ? " active"}}">
                            <a href="{{ path('app_login') }}" class="button btn btn-common">Sign in</a>
                        </li>
                    {% else %}
                        {% if app.user.customer %}
                            <li class="nav-item{{ page == "portal" ? " active"}}">
                                <a class="nav-link" href="{{ path('portal') }}">My portal</a>
                            </li>
                        {% endif %}
                        {% if app.user.banker %}
                            <li class="nav-item{{ page == "management" ? " active"}}">
                                <a class="nav-link" href="{{ path('management') }}">Management</a>
                            </li>
                        {% endif %}
                        {% if app.user.admin %}
                            <li class="nav-item{{ page == "admin" ? " active"}}">
                                <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <span class="nav-link">{{ app.user.name }} {{ app.user.surname }}</span>
                        </li>
                        <li class="button-group">
                            <a href="{{ path('app_logout') }}" class="button btn btn-common">Log out</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu" data-logo="{{ asset('img/logo.png') }}"></div>
</nav>
</header>
