{% extends 'base.html.twig' %}
{% set page = "reset" %}
{% block body %}
    <section id="content" class="section-padding mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-xs-12">
                    <div class="page-login-form box">
                        <h3>Reset Two Factor Authentication</h3>
                        {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            <button class="btn btn-common">Reset</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
