<h1>{{ user.name }} {{ user.surname }},</h1>
<p>You asked for reset your two-factor authentication.</p>
<a href="{{ absolute_url(path('reset_two_factor_validation', {email: user.email, token: user.twoFactorAuthenticationResetToken})) }}">
    Click here to reset your QR Code.
</a>
