{% extends 'management/management.base.html.twig' %}
{% set managementPage = "accounts" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Manage accounts</h3>
            <table class="table" id="datatable">
                <thead>
                <tr>
                    <th scope="col">Account number</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Last activity</th>
                    <th scope="col">Overdraft</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                <tr>
                    <th scope="row">{{ account.accountNumber }}</th>
                    <td>{{ account.owner.name }} {{ account.owner.surname }}</td>
                    <td>{{ account.updatedAt|date }}</td>
                    <td>{{ account.overdraftAuthorized ? "Active" : "Disabled" }}</td>
                    <td>
                        <div class="action-btn">
                            <a class="btn btn-xs btn-dark" href="{{ path('management_account_show', {id: account.id}) }}">Show</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datatable') }}
{% endblock %}
