{% extends 'management/management.base.html.twig' %}
{% set managementPage = "accounts" %}
{% block content %}
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="card-item">
            <h3 class="alerts-title">Account {{ account.iban }}</h3>
            <ul class="list-group">
                <li class="list-group-item">IBAN : {{ account.iban }}</li>
                <li class="list-group-item">Balance : {{ account.balance }} €</li>
                <li class="list-group-item">{{ account.overdraftAuthorized ? "Overdraft authorized" : "Overdraft not authorized"}}</li>
                {% if account.overdraftAuthorized %}
                    <li class="list-group-item">{{ account.overdraft }}</li>
                {% endif %}
                <li class="list-group-item">{{ account.transfers | length }} transfers</li>
                <li class="list-group-item">Owner : #{{ account.owner.id }} {{ account.owner.name }} {{ account.owner.surname }}</li>
                <li class="list-group-item">Created at {{ account.createdAt | date }}</li>
                <li class="list-group-item">Last activity at {{ account.updatedAt | date }}</li>
            </ul>
            <a href="{{ path('management_account') }}" class="btn btn-dark m-3">Back</a>
        </div>
    </div>
{% endblock %}
